<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/config :: configFragment"></head>

<body>
  <header th:replace="fragments/main_header :: head('Codefarm Management System')" ></header>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>

  <aside th:replace ="fragments/side_bar :: menu('home')"></aside>
  <section id="main-content">
    <section class="wrapper">
    <div class="row">  
      <div class="col-lg-9 main-chart">

      <div class="border-head">
      <h3>USER VISITS</h3>
      </div>
    <p class="lead">메인입니당</p>
         <!-- WEATHER PANEL -->
     <div class="col-md-4 mb">
       <div class="weather pn">
         <i class="fa fa-cloud fa-4x"></i>
         <h2>11º C</h2>
         <h4>BUDAPEST</h4>
       </div>
     </div>
</div>
    </div>
    </section>
  </section>
</body>

  <!-- js placed at the end of the document so the pages load faster -->
<script src="lib/jquery/jquery.min.js" th:href="@{/lib/jquery/jquery.min.js}" ></script>

<script src="lib/bootstrap/js/bootstrap.min.js" th:href="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js" th:href="@{/lib/jquery.dcjqaccordion.2.7.js}" ></script>
<script src="lib/jquery.scrollTo.min.js" th:href="@{/lib/jquery.scrollTo.min.js}"></script>
<script src="lib/jquery.nicescroll.js" type="text/javascript" th:href="@{/lib/jquery.nicescroll.js}"></script>
<script src="lib/jquery.sparkline.js" th:href="@{/lib/jquery.sparkline.js}"></script>
<!--common script for all pages-->
<script src="lib/common-scripts.js" th:href="@{/lib/common-scripts.js}"></script>
<script type="text/javascript" src="lib/gritter/js/jquery.gritter.js" th:href="@{/lib/gritter/js/jquery.gritter.js}"></script>
<script type="text/javascript" src="lib/gritter-conf.js" th:href="@{/lib/gritter-conf.js}"></script>
<!--script for this page-->
<script src="lib/sparkline-chart.js" th:href="@{/lib/sparkline-chart.js}"></script>
<script src="lib/zabuto_calendar.js" th:href="@{/lib/zabuto_calendar.js}"></script>
<script type="text/javascript" th:inline="javascript">
  $(document).ready(function() {
    var unique_id = $.gritter.add({
      // (string | mandatory) the heading of the notification
      title: 'Welcome to Codefarm!',
      // (string | mandatory) the text inside the notification
      text: '퇴근하구싶당',
      // (string | optional) the image to display on the left
      image: 'img/ui-sam.jpg',
      // (bool | optional) if you want it to fade out on its own or just sit there
      sticky: false,
      // (int | optional) the time you want it to be alive for before fading out
      time: 8000,
      // (string | optional) the class name you want to apply to that specific message
      class_name: 'my-sticky-class'
    });

    return false;
  });
</script>
<script type="application/javascript" th:inline="javascript">
  $(document).ready(function() {
    $("#date-popover").popover({
      html: true,
      trigger: "manual"
    });
    $("#date-popover").hide();
    $("#date-popover").click(function(e) {
      $(this).hide();
    });

    $("#my-calendar").zabuto_calendar({
      action: function() {
        return myDateFunction(this.id, false);
      },
      action_nav: function() {
        return myNavFunction(this.id);
      },
      ajax: {
        url: "show_data.php?action=1",
        modal: true
      },
      legend: [{
          type: "text",
          label: "Special event",
          badge: "00"
        },
        {
          type: "block",
          label: "Regular event",
        }
      ]
    });
  });

  function myNavFunction(id) {
    $("#date-popover").hide();
    var nav = $("#" + id).data("navigation");
    var to = $("#" + id).data("to");
    console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
  }
</script>
</html>