<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashequipment">
  <meta name="keyword" content="Dashequipment, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon" th:href="@{/img/favicon.png}">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">
  <!-- Bootstrap core CSS -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet"
    th:href="@{/lib/font-awesome/css/font-awesome.css}" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
  <link href="css/style-responsive.css" rel="stylesheet" th:href="@{/css/style-responsive.css}">
  <title>equipment</title>
</head>

<body>
  <header th:replace="fragments/main_header :: head('장비목록')"></header>
  <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('equipment')">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>

  <aside th:replace="fragments/side_bar :: menu('equipment')"></aside>

  <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> 장비 목록</h3>
      <div class="row mt">
        <div class="col-lg-12">
          <div class="content-panel">

              <h4><i class="fa fa-angle-right"></i> Total</h4>             
            <div class="btn-group" style ="margin-left: 90%; margin-bottom: 10px;">
              <select class="selectBox-menu" role="menu">
                <option selected>선택</option>
                <option id="optionGbcd" th:each="equipment : ${equipments}" th:text="${equipment.purchase.device_gbcd}" ></option> 
              </select>
            </div>
            <section id="unseen">
              <table class="table table-bordered table-striped table-condensed">
                <!-- Split button -->
                <thead>
                  <tr>
                    <th scope="col">구매번호</th>
                    <th scope="col">구분</th>
                    <th scope="col">제조사</th>
                    <th scope="col">공급</th>
                    <th scope="col">모델</th>
                    <th scope="col">시리얼넘버</th>
                    <th scope="col">구입일</th>
                    <th scope="col">주문자</th>
                    <th scope="col">작성자</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="equipment : ${equipments}">
                    <td th:text="${equipment.purchase.purchase_no}"></td>
                    <td th:text="${equipment.deviceGbcd}"></td>
                    <td th:text="${equipment.purchase.manufacturer}"></td>
                    <td th:text="${equipment.purchase.supplier}"></td>
                    <td th:text="${equipment.purchase.deviceName}"></td>
                    <td th:text="${equipment.purchase.serial_number}"></td>
                    <td th:text="${equipment.purchase.purchase_dt}"></td>
                    <td th:text="${equipment.purchase.order_id}"></td>
                    <td th:text="${equipment.user.username}"></td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example" style="padding: 2%; margin-left: 44%;">
                <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/equipment/list}">
                  <div class="form-group mx -sm-3 mb-2">
                    <label for="searchText" class="sr-only">Search</label>
                    <input type="text" class="form-control" id="searchText" name="searchText">
                  </div>
                  <button type="submit" class="btn btn-light mb-2">search</button>
                </form>
            </section>
          </div>
        </div>
      </div>
      <div class="row mt">
        <div class="col-lg-6">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> 장비 종류</h4>
            <div class="panel-body text-center">
              <canvas id="MychartOne" height="100" width="200"></canvas>
            </div>
          </div>
        </div>
    </section>
  </section>
</body>
<!-- js placed at the end of the document so the pages load faster -->
<script src="lib/jquery/jquery.min.js" th:src="@{/lib/jquery/jquery.min.js}"></script>
<script src="lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"
  th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
<script src="lib/jquery.scrollTo.min.js" th:src="@{/lib/jquery.scrollTo.min.js}"></script>
<script src="lib/jquery.nicescroll.js" type="text/javascript" th:src="@{/lib/jquery.nicescroll.js}"></script>
<!--common script for all pages-->
<script src="lib/common-scripts.js" th:src="@{/lib/common-scripts.js}"></script>
<!--script for this page-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript" th:inline="javascript">
	var MychartOne = document.getElementById('MychartOne').getContext('2d');
	/*<![CDATA[*/
	var equipments = [[${equipments}]];
	var purchases = [[${purchases}]];

	var equipmentsArray  	   = new Array();
	var equipmentsAmountArray  = new Array();

	for (var i=0; i<equipments.length;i++){
		
	 equipmentsArray.push(equipments[i].deviceGbcd);
	 equipmentsAmountArray.push(purchases[i].amount);
	}
	
	 console.log(equipmentsAmountArray)

	/*]]>*/
	
	var pieChart =new Chart(MychartOne,{
		type :'pie',
		data : {
			labels :equipmentsArray,			//장비종류
			datasets: [{
				label : '장비종류',
				data : equipmentsAmountArray,
				backgroundColor:[
					'red',
					'skyblue'
				],
				borderWidth:1,
				hoverborderWidth:5
			}]
		
			
		}
	})
		
</script>

</html>